body {
    background: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    background:#FEFEFE;
    border-top:1px solid #CCC;
    height:60px;
}

footer .pagination {
    margin:10px 0px;
}

footer .btn-group {
    margin:10px 10px;
}

input[type='checkbox'] {
    margin: 0px;
    padding:0px;
    border-radius: 5px;
    white-space: nowrap;
}

.flag {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../img/flags.png') no-repeat;
}


.flag.flag-fr {
    background-position: -32px 0;
}

.flag.flag-en {
    background-position: 0 -32px;
}